@page "/claims"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        You are not logged in
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    You have the Admin role
</AuthorizeView>